@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2C2C31;
}

::-webkit-scrollbar-thumb {
  background-color: #9E9EA0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-areas: 'profile timeline';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}

nav {
  grid-area: timeline;
}

aside {
  grid-area: profile;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas:
    'profile'
    'timeline';
  }
}