@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-areas: 'profile timeline';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}

nav {
  grid-area: timeline;
}

aside {
  grid-area: profile;
}
